<section class="card">
  <header>Sign In</header>
  <div>
    Don't have an account?
    <span class="signup" (click)="onClickSignup()">Sign Up</span>
  </div>

  <form class="form" [formGroup]="loginForm" (ngSubmit)="OnFormSubmitted()">
    <div class="input-box">
      <label style="float: left">Email </label>
      <input
        type="text"
        placeholder="Enter Valid Email"
        formControlName="email"
      />

      <small
        *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched"
      >
        *Email is not valid.
      </small>
    </div>

    <div class="input-box">
      <label style="float: left">Password </label>
      <input
        type="text"
        placeholder="Enter Valid Password"
        formControlName="password"
      />

      <small
        *ngIf="
          loginForm.get('password').invalid && loginForm.get('password').touched
        "
      >
        *Password is not valid.
      </small>
    </div>

    <input type="submit" value="Sign In" class="submit-btn" />
    <p (click)="onClickForgotPassword()" class="forgotPassword">
      Forgot Password ?
    </p>
  </form>
</section>
