.header {
    background-color: #f8f9fa;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}
.header h1 {
    margin: 0;
    font-size: 26px;
    color: #3333339f;
}