<section class="card">
  <i
    style="cursor: pointer"
    (click)="onClickBack()"
    class="fas fa-arrow-left"
  ></i>
  <header class="mt-3">Forgot Password</header>
  <div style="font-size: 1rem; color: rgb(179, 175, 175)">
    Enter the email address associated with this account and we'll send you a
    link to reset your password
  </div>

  <form
    class="form"
    [formGroup]="forgotPasswordForm"
    (ngSubmit)="OnFormSubmitted()"
  >
    <div class="input-box">
      <label style="float: left">Email </label>
      <input
        type="text"
        placeholder="Enter Valid Email"
        formControlName="email"
      />

      <small
        *ngIf="
          forgotPasswordForm.get('email').invalid &&
          forgotPasswordForm.get('email').touched
        "
      >
        *Email is not valid.
      </small>
    </div>

    <button type="submit" value="Send" class="submit-btn">
      <span *ngIf="isLoading == false">Send</span>
      <div *ngIf="isLoading == true" class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </button>

    <div style="text-align: end">
      Don't have an account?
      <span class="signup" (click)="onClickSignup()">Sign Up</span>
    </div>
  </form>
</section>
