<section class="card">
  <i
    style="cursor: pointer"
    (click)="onClickBack()"
    class="fas fa-arrow-left"
  ></i>
  <header class="mt-3">Reset Password</header>

  <form
    class="form"
    [formGroup]="resetPasswordForm"
    (ngSubmit)="OnFormSubmitted()"
  >
    <div class="input-box">
      <label style="float: left">Password </label>
      <input
        type="text"
        placeholder="Enter Password"
        formControlName="password"
      />

      <small
        *ngIf="
          resetPasswordForm.get('password').invalid &&
          resetPasswordForm.get('password').touched
        "
      >
        *Password is not valid.
      </small>
    </div>

    <div class="input-box">
      <label style="float: left">Confirm Password </label>
      <input
        type="text"
        placeholder="Enter Confirm Password"
        formControlName="confirmPassword"
      />

      <small
        *ngIf="
          resetPasswordForm.get('confirmPassword').invalid &&
          resetPasswordForm.get('confirmPassword').touched
        "
      >
        *Confirm Password is not valid.
      </small>
    </div>

    <button type="submit" value="Send" class="submit-btn">
      <span *ngIf="isLoading == false">Submit</span>
      <div *ngIf="isLoading == true" class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </button>
  </form>
</section>
